body {
    background-color: aqua;
}

.container {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 100px;
}

#clickme {
    background-color: #7993a8;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px
}