* {
    margin: 0px;
    padding: 0px;
}
/*

Container för alla boxar.

*/
.container {
    display: flex;
    flex-direction: row;
}
/* 

Box1: Ska ha en backgrund som är en bild,
sen ska den också ha en bild som försvinner när man gör :hover,
som ska visa text.

*/
.box1 {
    position: relative;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: 1%;
    flex: 2;
    border-radius: 10px;
    margin-top: 50px;
    padding: 1%;
    background-color: rgb(194, 199, 194);
    color: rgb(25, 25, 24);
}

.box1 img {
    opacity: 1;
}

.box1Wrap {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    padding: 15px;
    background-color: rgb(194, 199, 194);
}

.box1text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.box1:hover .box1Wrap,
.box1.active .box1Wrap {
	opacity: 1;
}

/*




*/
.box2 {
    position: relative;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: 1%;
    flex: 2;
    border-radius: 10px;
    margin-top: 50px;
    padding: 1%;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.box2Wrap {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    padding: 15px;
    background-color: rgb(0, 0, 0);
}

.box2text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: ivory;
}

.box2 img {
    display: block;
    width: 100%;
    height: auto;
}

.box2:hover .box2Wrap,
.box2.active .box2Wrap {
	opacity: 1;
}

/*


*/
.box3 {
    position: relative;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: 1%;
    flex: 2;
    border-radius: 10px;
    margin-top: 50px;
    padding: 1%;
    background: rgb(98,167,105);
    background: linear-gradient(90deg, rgba(98,167,105,1) 0%, rgba(121,87,190,1) 100%);
    color: rgb(25, 25, 24);
}

.box3tooltip {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.box3tooltip .box3tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(177, 175, 175, 0.137);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.box3tooltip:hover .box3tooltiptext {
    visibility: visible;
}